<?php
use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;

return [
    'db' => [
        'adapters' => [
            'dummy' => [
                'database' => 'test',
                'driver' => 'PDO_Mysql',
                'hostname' => '127.0.0.1',
                'username' => 'test',
                'password' => 'test',
                'port' => '3306',
            ],
        ],
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => PDOMySqlDriver::class,
                'eventmanager' => 'orm_default',
                'params' => [
                    'host'     => '127.0.0.1',
                    'port'     => '3306',
                    'user'     => 'test',
                    'password' => 'test',
                    'dbname'   => 'test',
                ]
            ],
        ],
    ],
];
